<section class="banner_area ">
    <div class="booking_table d_flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h6>Away from monotonous life</h6>
                <h2>Relax Your Mind</h2>
                <a href="/realeste/GetAllForUser" class="btn theme_btn button_hover">Get Started</a>
            </div>
        </div>
    </div>

</section>
