
@{
    
    Layout = "_MyLayout";
}

<section class="banner_area ">
    <div class="booking_table d_flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h6>Home is Your Home</h6>
                <h2>Relax Your Mind</h2>
                <a href="/realeste/GetAllForUser" class="btn" style="background-color:#446CB4;margin-top:10px;width:180px;height:50px;border-radius:25px;border:3px solid ;color:white ;font-size:20px;cursor:pointer">Get Started</a>
            </div>
        </div>
    </div>

</section>

