@{
    ViewData["Title"] = "Index";
    Layout = "-adminlayout";
}
<div class="container w-75 text-center my-5" style="height:40vh;color:black">

    <h1 class="">Welcome <label>Nansy</label></h1>
</div>